@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 2px;
    width: 91px;
    background-color: rgb(61 48 48);
    border: 1px solid rgb(61 48 48);
    height: 30px;
    color: white;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
}
.btn:hover{
    background-color: white;
    border:1px solid rgb(90 67 67);
    color: rgb(90 67 67);
    font-family: "Nunito", sans-serif;
    font-style: bold;
}
.cart{
    display: flex;
    align-items: center;
}
.product1{
    text-align: center;
    font-family: "Nunito", sans-serif;
    padding: 0 63px;
}
.ban2-button{
    margin-top: 10px;
    font-size: 14px;
    padding: 11px 18px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    outline: none;
}
.price{
    display: inline;
}